/Custom_models/*.blend1
/Custom_models/*.obj

~$osm-parser.xlsm

/3dcheck/index.html
/3dcheck/models
/3dcheck/data/*.dat
/3dcheck/data/quadrants/*.dat
/3dcheck/data/errors/*.dat
/3dcheck/data/building_images
/3dcheck/landcovers
/3dcheck/blogposts

/osmupdate_temp
/work_folder
.idea/*.*
.idea/inspectionProfiles/*.*

/OsmParser/.idea/*.*
/OsmParser/.idea/dictionaries/*.*
/OsmParser/.idea/inspectionProfiles/*.*
/OsmParser/__pycache__/*.*
*.pyc

/3dcheck.bak
/work_folder.bak


report.json
geocoder.txt
make.svg
3dcheck/downloads/VFR_LANDMARKS_3D_RU.zip
3dcheck/pipeline/

/zOsm2GeoJSON/.idea/*.*

3dcheck/yandex_827fab152aaf2bda.html
3dcheck/data/images/recent_activity.png
3dcheck/data/models2
3dcheck/data/models_gltf
