/Custom_models/*.blend1
/Custom_models/*.obj

~$osm-parser.xlsm


/3dcheck/models
/3dcheck/data/*
!/3dcheck/data/readme.md

/3dcheck/landcovers
/3dcheck/blogposts
/3dcheck/downloads/VFR_LANDMARKS_3D_RU.zip

/osmupdate_temp
/work_folder
.idea/*.*
.idea/inspectionProfiles/*.*

/OsmParser/.idea/*.*
/OsmParser/.idea/dictionaries/*.*
/OsmParser/.idea/inspectionProfiles/*.*
/OsmParser/__pycache__/*.*
*.pyc

/3dcheck.bak
/work_folder.bak


report.json
geocoder.txt
make.svg


/zOsm2GeoJSON/.idea/*.*

3dcheck/yandex_827fab152aaf2bda.html

/3dcheck/models2
/_tests