/Custom_models/*.blend1
/Custom_models/*.obj

~$osm-parser.xlsm

/3dcheck/index.html
/3dcheck/models
/3dcheck/data/*.dat

/osmupdate_temp
/work_folder
/OsmParser/.idea/*.*
/OsmParser/__pycache__/*.*
OsmParser/.idea/dictionaries/KBondarenko.xml
