RewriteEngine on


# Исключения для статических файлов и реальных директорий
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Перенаправление всех запросов на index.py
RewriteRule ^(.*)$ index.py?url=/$1 [L,QSA]


#RewriteRule ^test$ test.py

#RewriteRule ^([A-Z0-9\-\+_]+).errors.html$  region_errors.py?param=$1
#RewriteRule ^types/([a-z0-9\-\+_]+).html$  region_images.py?param=$1
#RewriteRule ^([A-Za-z0-9\-\+_]+)/([RWN0-9]+).html$  building.py?quadrant=$1&object=$2
#RewriteRule ^([A-Za-z0-9\-\+_]+)/([RWN0-9]+).errors.html$  building_errors.py?quadrant=$1&object=$2

